/*CSS RESET from   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 300;
  font-size: 100%;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #585858;
}
a:link {
  color: inherit;
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
//Font awesome icons
@import url('./../../node_modules/font-awesome/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

body {
  width: 100vw;
  height: 200vh;
}
h1 {
  font-weight: 750;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

h3 {
  font-weight: 400;
  font-size: 1.3rem;
}

// Logo

#site-name {
  font-family: 'Goldman', cursive;
  font-size: 2rem;
  color: #f9f9f9;
}

//Header and nav
header {
  width: fill-available;
  height: 10vh;
  background-color: #302b2b;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #e7ebef;
  display: flex;
  flex-direction: column;
  background-image: url(../images/ficition_image_bg.jpg);
  background-size: cover;
  background-position: center bottom;
  background-size: auto;
  margin-bottom: 30px;
}

.sub-nav-bold {
  font-weight: bold;
}

#header-upper-div {
  width: 100%;
  height: 8vh;
}

#header-upper-div li {
  list-style-type: none;
  padding-top: 20px;
}

.flex-header-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
a:hover {
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3b3b3b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-right: 20px;
}

.dropdown {
  position: relative;
  //right: 140px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 10;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  opacity: 0.7;
  // filter: grayscale(90%);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #4184e2;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #5c5959;
}

//Search bar.
.search-bar-container {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

#search-bar {
  width: 500px;
  height: 43px;
}

.fa-search {
  position: relative;
  left: -50px;
  top: 10px;
  color: #afabab;
}

::placeholder {
  color: #afabab;
  position: relative;
  left: 30px;
}

#search-btn {
  background-color: #4184e2;
  color: #f9f9f9;
  width: 80px;
  height: 48px;
}

#search-btn:hover {
  background-color: #216fa4;
}

//MAIN index.html

.wrapper {
  display: flex;
  justify-content: center;
}

#main-index {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  margin: 0 auto;
}

.row-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.col-home {
  flex-direction: column;
  flex: 0.5;
}
a:visited {
  color: inherit;
}

.card {
  width: 400px;
  overflow: hidden;
  max-height: 500px;
  padding: 20px 20px;
  padding-top: 30px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin: 0 50px;
}

.card-first-paragraph {
  padding-top: 20px;
  margin-bottom: 20px;
}

#card1 {
  border-top: solid 5px;
  border-top-color: #2b76df;
}

#card2 {
  border-top: solid 5px;
  border-top-color: #ff9c02;
}

#frankenstein-img {
  width: 500px;
  height: auto;
}

footer {
  margin-top: 60px;
  width: 100%;
  height: auto;
  border-top: 1px solid #e7ebef;
  border-bottom: 1px solid #e7ebef;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  padding-top: 50px;
  line-height: 60px;
  padding: 10px;
}
footer ul li {
  color: #585858;
}

.footer-wrapper {
  max-width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 10px;
}

.footer-left {
  line-height: 40px;
  padding: 10px;
}

.footer-left ul {
  max-width: 400px;
  overflow: hidden;
  padding-right: 20px;
}

.footer-right {
  max-width: 200px;
  height: 150px;
  background-color: white;
  position: relative;
  left: 100px;
}
.footer-right ul {
  display: flex;
  flex-direction: row;
}
.footer-right h3 {
  padding-bottom: 20px;
}

.fa {
  padding: 5px;
}

.footer-ad {
  width: 800px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 30px;
}

.footer-title {
  color: #2b76df;
  font-size: 1rem;
}

//Novedades.html

.main-categories {
  max-width: 100vw;
  height: auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.text-indent {
  width: 10px;
  margin-right: 6px;
}

#sub-nav ol {
  display: flex;
}

.sub-nav {
  margin-bottom: 10px;
}
.sub-nav ol {
  display: flex;
  flex-direction: row;
}

.sub-nav ol li {
  font-size: 0.9rem;
  margin-right: 10px;
}

hr {
  width: 100%;
  border: 1px solid #e7ebef;
}

.top-section {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 3px;
}

.top-section h1 {
  line-height: 2rem;
  margin-bottom: 9px;
}

.top-section p {
  line-height: 2rem;
}

.row-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column-categories {
  padding-top: 20px;
  border: solid rgb(87, 86, 86) 1px;
  display: flex;
  flex-direction: column;
  //flex-basis: 100%;
  align-items: center;
  flex: 1;
  margin-bottom: 10px;
}

.column-categories img {
  width: 150px;
  height: 230px;
  margin-left: 10px;
  margin-right: 10px;
}

.img-detail {
  max-width: 150px;
  margin: 0 auto;
}
.img-detail h5 {
  font-size: 1rem;
  font-weight: 700;
}
.img-detail span {
  color: #2b76df;
  font-size: 0.8rem;
}

//Details
.main-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-img-big {
  display: flex;
  justify-content: center;
}

#un_chico_img-big {
  width: 30%;
  height: auto;
}
#un_mundo_img_big {
  width: 50%;
  height: auto;
}
.flex-row {
  display: flex;
  justify-content: center;
}
#details-container {
  max-width: 50vw;
  margin-top: 30px;
  overflow: hidden;
  font-size: 1.3rem;
}

.book-sinopsis {
  margin-bottom: 30px;
}
.book-sinopsis p {
  padding: 20px 0;
}

.book-info {
  line-height: 22px !important;
}
.sinopsis-title {
  padding-top: 15px;
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: 400;
}
.sinopsis-subtitle {
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: 600;
}
.sinopsis-title {
  font-size: 1.2rem;
}

.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
